<div class="flex h-screen">
  <div class="container bg-gray-900">
    <h1 class="mb-8 text-2xl text-white ">
      Coffee Shops
    </h1>
    <div *ngIf="coffeeShops">
      <table class="text-left w-full text-gray-400 border-separate space-y-6 text-sm">
        <thead class="flex text-white w-full bg-gray-800 text-gray-500">
        <tr class="flex w-full mb-4">
          <th class="p-4 w-1/4">Id</th>
          <th class="p-4 w-1/4">Name</th>
          <th class="p-4 w-1/4">X Coordinate</th>
          <th class="p-4 w-1/4">Y Coordinate</th>
          <th class="p-4 w-1/4">Distance From User</th>
        </tr>
        </thead>
        <!-- Remove the nasty inline CSS fixed height on production and replace it with a CSS class — this is just for demonstration purposes! -->
        <tbody class="bg-grey-light flex flex-col items-center justify-between overflow-y-scroll w-full" style="height: 50vh;">
        <tr class="flex w-full mb-4" *ngFor="let coffeeShop of coffeeShops">
          <td class="p-4 w-1/4">{{coffeeShop.id}}</td>
          <td class="p-4 w-1/4">{{coffeeShop.name}}</td>
          <td class="p-4 w-1/4">{{coffeeShop.x}}</td>
          <td class="p-4 w-1/4">{{coffeeShop.y}}</td>
          <td class="p-4 w-1/4">{{coffeeShop.distanceFromUser ? coffeeShop.distanceFromUser : 0 }}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="flex w-1/2 justify-center items-center bg-gray-600 text-white">
    <form class="bg-gray-600" [formGroup]="coordinatesFormControl">
      <h1 class=" font-bold text-2xl mb-1 w-64">Search For a Nearby Coffee Shop</h1>
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl mb-4 bg-white text-gray-600">
        X
        <input class="pl-2 outline-none border-none" type="text" placeholder="Coordinate" formControlName="xCoordinate">
      </div>
      <div class="flex items-center border-2 py-2 px-3 rounded-2xl bg-white text-gray-600 ">
        Y
        <input class="pl-2 outline-none border-none" type="text" placeholder="Coordinate" formControlName="yCoordinate">
      </div>
      <button class="block w-full bg-red-600 mt-4 py-2 rounded-2xl text-white font-semibold mb-2" (click)="getNearbyCS()">Search</button>
    </form>
  </div>
</div>
